.container_full {
  height: 100vh;
  width: 100vw;
  background-color: var(--purpleDark);
  z-index: 2000;
}

.title {
  font-size: 7.5rem;
  color: var(--colorWhite);
  display: flex;
  justify-content: center;
  font-family: visbyRoundCF;
  font-weight: 900;
  width: 100%;
  padding: 6.5rem 0rem;
}

.absolute {
  position: absolute;
  z-index: 1;
}

.behind {
  position: absolute;
  top: 65%;
  left: 27.5%;
  transform: translate(-50%, -50%);
}

.bottom_right {
  bottom: 0;
  right: 0;
}

.top_left {
  top: 0;
  left: 0;
}

.top_right {
  top: 0;
  right: 0;
}

.behind {
  bottom: 0;
  right: 0;
}

.content {
  display: grid;
  justify-content: center;
  grid-template-rows: auto 1fr;
  width: 65vw;
  height: 70vh;
  border-radius: 5rem;
  background-color: var(--purpleLight);
  z-index: 2000;
  padding: 5rem;
}

.questionAndAnswers {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 50vw;
}

.score_lives_time {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1366px) {
  .content {
    padding: 3rem;
  }

  .title {
    font-size: 5rem;
    padding: 5rem 0rem;
  }
}

@media screen and (max-width: 1024px) {
  .questionAndAnswers {
    width: 55vw;
  }
  .content {
    width: 75vw;
    height: 75vh;
  }

  .title {
    font-size: 6.5rem;
    padding: 7.5rem 0rem;
  }
}
